__pycache__/
*.py[cod]
.DS_Store
.pytest_cache/
.ruff_cache/
.env/
.venv/
.vscode/
*.egg-info/
artifacts/
data/
models/
results/
**/*.aux
**/*.bbl
**/*.blg
**/*.log
**/*.out
**/*.synctex.gz
results/*
results_paper/*
results_frozen/*
writing/*
tests/*
plots/*
